{% extends "base.html" %}
{% block content %}
<div class="row">
    <div class="col-md-12">
        <div class="alert alert-danger">
            <h4 class="alert-heading">Error</h4>
            <p>{{ message }}</p>
            <hr>
            <p class="mb-0">
                <a href="{{ url_for('index') }}" class="btn btn-primary">Go to Home</a>
                <a href="{{ url_for('history') }}" class="btn btn-secondary">View History</a>
            </p>
        </div>
    </div>
</div>
{% endblock %}
